:root {
    --primary-color: #fce138;
    --secondary-color: #e41212;
    --tertiary-color: #0e1df0;
  }


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

header {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    height: 70px;
}
    

header h1 a {
    font-weight: bold;
    padding-left: 80px;
    font-size: 36px;
    color: black;
    background-color: rgb(92, 165, 175);

}

header a {
    text-decoration: none;
    
}  
      
header nav {
    margin: 7px 0;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  } 

header nav ul li a {
    padding: 10px 25px;
    color:  rgb(92, 165, 175);
    font-size: 16px;
    text-decoration: underline;
  }

.hero {
    background-image: url("../images/picture-1.jpg");
    background-size: 100% 100%;
    background-position: center;
    height: 400px;
    width: 100%;
    position: relative;   
}

.hero-text { 
    font-size: 22px;
    color: black;
    position: absolute;
    bottom: 55px;
    right: 80px;
    background-color: rgb(92, 165, 175);
    padding: 2px;
   
}

.portfolio {
  background-color: rgb(226, 222, 236);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.intro {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.intro h3 {
  text-align: right;
  padding-right: 5px;
  font-size: 22px;
  color: rgb(62, 62, 175);
  border-right: 5px solid rgb(62, 62, 175);
  width: 10%;
}

.intro p {
  font-size: 16px;
  color: rgb(49, 91, 119);
  padding-left: 10px;
}

.workstyle {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.workstyle h3 {
  text-align: right;
  padding-right: 5px;
  font-size: 22px;
  color: rgb(62, 62, 175);
  border-right: 5px solid rgb(62, 62, 175);
  width: 10%;
}

.grid-container {
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    width: 80%
}

.gallery-image {
  width: 100%;
  object-fit: cover;
  height: 100%
}


.item1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}


.item2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 9;
}

.item5 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;
}


.contact-info {
  padding-top: 15px;
   display: flex;
   flex-wrap: wrap;
}

.contact-info h3 {
  text-align: right;
  padding-right: 5px;
  font-size: 22px;
  color: rgb(62, 62, 175);
  border-right: 5px solid rgb(62, 62, 175);
  width: 10%;
}

.random {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 16px;
  width: 88%;
  color: rgb(49, 91, 119);
}

.random h2 {
  text-decoration: underline;
  font-size: 16px;
  color: rgb(49, 91, 119);
 }

 .random p {
  text-decoration: underline;
 }

.random h2 {
  padding-right: 60px;
  padding-left: 30px;
  font-weight: normal;

}

.facebook {
  padding-right: 60px;
  color: rgb(49, 91, 119);
  

}

.twitter {
  padding-right: 60px;
  color: rgb(49, 91, 119);
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  .random {
    width: 60%
  }

  .contact-info h3 {
    font-size: 16px;
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .contact-info h3 {
    font-size: 12px;
  }








      


  
    


   




        